

    <label>title</label>
    <input type="text" name="title" value="<%=course.title%>">
    <br>
    <label>Url</label>
    <input type="text" name="url" value="<%=course.url%>">
    <br>
    <label>description</label>
    <textarea type="text" name="description"  value="<%=course.description%>"><%=course.description%></textarea>
    <br>
    