

fasteners==0.14.1
flake8==4.0.1
flake8-blind-except==0.2.0
flake8-docstrings==1.6.0
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.5.2
geometry-msgs==4.2.3
google-api-core==2.12.0
google-api-python-client==2.106.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.61.0

pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
pluggy==0.13.0
ply==3.11
prompt-toolkit==3.0.28
protobuf==4.24.4
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pycodestyle==2.11.1
pycups==2.0.1
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
pygame==2.1.2
Pygments==2.11.2
PyGObject==3.42.1
pygraphviz==1.7
PyJWT==2.3.0
pylint==2.12.2
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyRFC3339==1.1
pyserial==3.5
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-timeout==2.1.0
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-dotenv==1.0.0
python-qt-binding==1.1.1
pythran==0.10.0
pytz==2022.1


types-mypy-extensions==0.4
types-mysqlclient==2.0
types-oauthlib==3.1

